global:
  resolve_timeout: 20s

route:
  receiver: 'telegram-notifications'

receivers:
  - name: 'telegram-notifications'
    webhook_configs:
      - url: '{{ telegram_webhook_url }}'
        send_resolved: true